@import '~bootstrap/scss/bootstrap';
@import './variables.scss';

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
}

.app {
  color: $black;
  background-color: #f3f3f3;
  overflow: hidden;
  min-height: 100vh;

  .app-bg {
    height: 100vh;
    width: 100vw;
    opacity: 0.5;
    background-image: url('./assets/bg.jpg');
    background-size: cover;
    position: fixed;
  }
  div.blur:first-child {
    top: -15%;
    right: 0;
  }

  div.blur:nth-child(2) {
    left: -10rem;
    top: 40%;
  }
}

.btn {
  border: none;
  outline: none;
  background: $buttonBg;
  color: white;
  border-radius: 0.5rem;
  transition: all 100ms ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;

  &:hover {
    background: transparent;
    color: $orange;
    border: 2px solid $orange;
    cursor: pointer;
  }

  &:disabled {
    background: silver;
    pointer-events: none;
  }
}

input,
textarea {
  font-family: 'Inter', sans-serif;
}

.table {
  background-color: #fff;
  z-index: 1;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}
