$yellow: #f5c32c;
$orange: #fca61f;
$black: #242d49;
$gray: rgba(36, 45, 73, 0.65);
$hrColor: #cfcdcd;
$cardColor: rgba(255, 255, 255, 0.64);
$buttonBg: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
$inputColor: rgba(40, 52, 62, 0.07);
